<!-- Index.html -->
{%extends "base.html" %}

{% block content %}
        <ul>
                <li><a href="/list_users">Listar Usuários</a></li>
                <li><a href="/register_user">Cadastrar Usuários</a></li>
                <li><a href="/remove_user">Remover Usuário</a></li>

                <li><a href="/sensors">Listar Sensores</a></li>
                <li><a href="/register_sensor">Cadastrar Sensores</a></li>
                <li><a href="/remove_sensor">Remover Sensor</a></li>

                <li><a href="/actuators">Listar Atuadores</a></li>
                <li><a href="/register_actuator">Cadastrar Atuadores</a></li>
                <li><a href="/remove_actuator">Remover Atuador</a></li>
        </ul>
{% endblock %}
  