{% extends"base.html" %}
{% block content%}
<div class="vertical-center">
    <div class="container">
        <h1>Cadastrar Usuários</h1>
        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    <form action= "http://localhost:8080/add_user" method= "POST">
                        <p>Usuário:</p>
                        <p><input type = "text" name = "user" placeholder="User" required/></p>
                        <p>Senha:</p>
                        <p><input type = "text" name = "password" placeholder="Password" required/></p>
                        <p><input type = "submit" value = "Cadastrar" /></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}